Source: kcm-kernel-config
Section: unknown
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: cmake,
               debhelper (>=9),
               libkf5config-dev,
               libqapt-dev,
               pkg-kde-tools,
               qtbase5-dev,
               qtdeclarative5-dev
Standards-Version: 3.9.8
Homepage: https://github.com/plasma-extensions/kcm-kernel-config

Package: kcm-kernel-config-config
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: KCM Module to select kernels
 KDE systemsettings module to choose a kernel
